*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.game-wrapper{
    outline: 1px dashed blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#game-grid{
    width: 40vmin;
    height: 40vmin;
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(20, 2vmin);
}

.game-cell{
    background-color: black;
    /* border: 1px solid gainsboro; */
    width: 2vmin;
    height: 2vmin;
}

.snake-head{
    background-color: gold;
    border: 1px solid bisque;
}

.apple{
    background-color: greenyellow;
}